[submodule "farcry/core"]
	path = farcry/core
	url = https://github.com/farcrycore/core.git
[submodule "farcry/plugins/farcrycms"]
	path = farcry/plugins/farcrycms
	url = https://github.com/farcrycore/plugin-farcrycms.git
[submodule "farcry/projects/chelsea"]
	path = farcry/projects/chelsea
	url = https://modius@github.com/farcrycore/project-chelsea.git
